In [2]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('ggplot')

## **Ejercicio 1:**

Buscar la serie del tipo de cambio del Banco Nación (BNA vendedor), generar un índice de tiempo, guardar los datos en CSV e imprimir el valor del 1 de Enero de 2019 en el notebook.

In [3]:
#Importamos los datos del tipo de cambio del Banco Nación en la tabla "tcbna"
tcbna= pd.read_csv("https://apis.datos.gob.ar/series/api/series/?ids=168.1_T_CAMBIOR_D_0_0_26,168.1_T_CAMBIMAE_D_0_0_15&limit=5000&format=csv")
tcbna.head()

  indice_tiempo  tipo_cambio_bna_vendedor  tipo_cambio_mae
0    2008-06-06                       NaN            3.070
1    2008-06-07                       NaN            3.070
2    2008-06-08                       NaN            3.070
3    2008-06-09                       NaN            3.063
4    2008-06-10                       NaN            3.065

In [4]:
# Visualizo los tipos que pandas que se infirieron al leer los datos. 
#Analizo los tipos de datos para ver si el campo indice_tiempo está en formato datatime y así utilizarlo como índice de la tabla.
tcbna.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4102 entries, 0 to 4101
Data columns (total 3 columns):
indice_tiempo               4102 non-null object
tipo_cambio_bna_vendedor    1761 non-null float64
tipo_cambio_mae             4076 non-null float64
dtypes: float64(2), object(1)
memory usage: 96.2+ KB

In [5]:
# Como el campo temporal que elegí para índice no está en el formato deseado, lo transformo.
tcbna["indice_tiempo"] = pd.to_datetime(tcbna["indice_tiempo"])
#Corroboro que el campo esté en el formato deseado
tcbna.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4102 entries, 0 to 4101
Data columns (total 3 columns):
indice_tiempo               4102 non-null datetime64[ns]
tipo_cambio_bna_vendedor    1761 non-null float64
tipo_cambio_mae             4076 non-null float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 96.2 KB

In [6]:
#Transformo el campo "indice_tiempo" en el índice de la tabla
tcbna = tcbna.set_index("indice_tiempo")
tcbna.head()

               tipo_cambio_bna_vendedor  tipo_cambio_mae
indice_tiempo
2008-06-06                          NaN            3.070
2008-06-07                          NaN            3.070
2008-06-08                          NaN            3.070
2008-06-09                          NaN            3.063
2008-06-10                          NaN            3.065

In [7]:
tcbna=tcbna[tcbna.index > "2017-12-31"]
tcbna[:6]

               tipo_cambio_bna_vendedor  tipo_cambio_mae
indice_tiempo
2018-01-01                        18.90           18.649
2018-01-02                        18.65           18.410
2018-01-03                        18.70           18.445
2018-01-04                        18.90           18.630
2018-01-05                        19.10           18.903
2018-01-06                        19.10           18.903

In [8]:
#Guardo los datos en csv
tcbna.to_csv("./Archivos generados/tcbna.csv", encoding="utf8")

In [11]:
#IMprimo el valor del Tipo de Cambio Vendedor según bna al 1-1-2019
print('el tipo de cambio vendedor al 01/01/2019 es de :${}/USD'.format(tcbna.loc["2019-01-01", "tipo_cambio_bna_vendedor"]))
## Acá podría definir una función que tenga como variable la fecha y devuelva el tipo de cambio vendedor

el tipo de cambio vendedor al 01/01/2019 es de :$38.6/USD

## Ejercicio 2

Graficar las variaciones del emae (serie original) como cambio porcentual respecto de 12 meses atrás (variación porcentual interanual) en un gráfico de barras con el mismo color desde 2016 en adelante. CAMBIAR EL EJERCICIO O EXPLICAR ANTES EL PCT_CHANGE