In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# Resultado Fiscal - último mes reportado 2019

## Resumen ejecutivo

In [44]:
#EL TEXTO PARA ARMAR DE FORMA AUTOMÁTICA- ** ver si dejarlo en formáto de código o armarlo en Markdown, en éste último caso, 
#BUSCAR!!**
print("Durante el mes de julio el Sector Público Nacional tuvo un superávit primario de $ 4.293 millones, lo que implica una mejora de $ 18.572 millones frente al déficit de $ 14.280 millones registrado en igual mes de 2018. Los recursos totales crecieron 61,6% en términos interanuales (i.a.), 11 puntos porcentuales (p.p.) más en relación a los gastos primarios que tuvieron un incremento de 50,5% i.a.")

Durante el mes de julio el Sector Público Nacional tuvo un superávit primario de $ 4.293 millones, lo que implica una mejora de $ 18.572 millones frente al déficit de $ 14.280 millones registrado en igual mes de 2018. Los recursos totales crecieron 61,6% en términos interanuales (i.a.), 11 puntos porcentuales (p.p.) más en relación a los gastos primarios que tuvieron un incremento de 50,5% i.a.

### Ingresos Totales (Formato IMIG)

In [54]:
# Armo los dataframes con los ids de los componentes de cada uno de los subtotales "tributarios", "rentas", "otros corrientes" y "capital"
 
it_tributarios= pd.read_csv("https://apis.datos.gob.ar/series/api/series/?ids=452.2_IVA_NETO_RROS_0_T_19_67,452.2_GANANCIASIAS_0_T_9_51,452.2_APORTES_COIAL_0_T_39_29,452.2_DEBITOS_CRTOS_0_T_16_22,452.2_BIENES_PERLES_0_T_17_26,452.2_IMPUESTOS_NOS_0_T_18_87,452.2_COMBUSTIBLLES_0_T_12_97,452.2_DERECHOS_EION_0_T_20_42,452.2_DERECHOS_IION_0_T_20_60,452.2_RESTO_TRIBIOS_0_T_17_0&limit=5000&format=csv")
it_rentas= pd.read_csv("https://apis.datos.gob.ar/series/api/series/?ids=452.2_FGS_COBRADERO_0_T_53_90,452.2_RESTO_RENTDAD_0_T_22_24&limit=5000&format=csv")
it_otros= pd.read_csv("https://apis.datos.gob.ar/series/api/series/?ids=452.2_INGRESOS_NIOS_0_T_23_2,452.2_TRANSFERENTES_0_T_25_22,452.2_RESTO_INGRTES_0_T_25_96&limit=5000&format=csv")
it_capital= pd.read_csv("https://apis.datos.gob.ar/series/api/series/?ids=452.2_INGRESOS_CTAL_0_T_16_75&limit=5000&format=csv")

# Transformo a formato de datetime y pongo como índice al campo "indice_tiempo"
it_tributarios.indice_tiempo= pd.to_datetime(it_tributarios.indice_tiempo)
it_rentas.indice_tiempo= pd.to_datetime(it_rentas.indice_tiempo)
it_otros.indice_tiempo= pd.to_datetime(it_otros.indice_tiempo)
it_capital.indice_tiempo= pd.to_datetime(it_capital.indice_tiempo)

it_tributarios= it_tributarios.set_index("indice_tiempo")
it_rentas= it_rentas.set_index("indice_tiempo")
it_otros= it_otros.set_index("indice_tiempo")
it_capital= it_capital.set_index("indice_tiempo")

In [61]:
#Como no contamos con los subtotales de Tributarios, Rentas, Otros Corrientes y capital para el armado del Resumen del mes IMIG,
#lo armamos trasponiendo los dataframe y sumando todos sus compoonentes. Esto nos va a permitir tener las series deseadas 
#y formar un dataframe con una estructura similar a la que queríamos llegar.

# it_tributarios.T.sum(), 
# it_rentas.T.sum(),
# it_otros.T.sum(),
# it_capital.T.sum(),
total=it_tributarios.T.sum() + it_rentas.T.sum() + it_otros.T.sum() + it_capital.T.sum()

# creamos un dataframe para Ingresos Totales con todos sus componentes. #VER COMO REORDENAR LAS FILAS!!!
ingresos_totales = pd.DataFrame({
    "tributarios": it_tributarios.T.sum(), 
    "rentas": it_rentas.T.sum(),
    "otros_corrientes": it_otros.T.sum(),
    "capital": it_capital.T.sum(),
    "Total_Ingresos_Totales":total
})

ingresos_totales.index=ingresos_totales.index.to_period()

imig_it=ingresos_totales[(ingresos_totales.index=="20180701")|(ingresos_totales.index=="20190701")].pivot_table(columns="indice_tiempo")

imig_it["var%_anual"]= round( (imig_it["2019-07"] / imig_it["2018-07"]) - 1, 4) * 100

# Quisiera agregar la diferencia absoluta en $
# PORQUE NO ME SIRVE ÉSTA ASIGNACIÓN?? imig_it["var$_anual"]= imig_it["2019-07"] - imig_it["2018-07"]

imig_it= imig_it.rename(columns={"indice_tiempo": "Concepto"})
imig_it

indice_tiempo            2018-07   2019-07  var%_anual
Total_Ingresos_Totales  232618.9  375866.6       61.58
capital                   4931.0   12392.5      151.32
otros_corrientes          7511.2   21290.9      183.46
rentas                   14605.1   27241.4       86.52
tributarios             205571.6  314941.8       53.20

In [47]:
pbi=pd.read_csv("https://apis.datos.gob.ar/series/api/series/?ids=9.2_PPC_2004_T_22&limit=5000&format=csv")
rp= pd.read_csv("https://apis.datos.gob.ar/series/api/series/?ids=452.3_RESULTADO_RIO_0_M_18_54&limit=5000&format=csv")
rp["indice_tiempo"] = pd.to_datetime(rp["indice_tiempo"])
rp=rp.set_index("indice_tiempo")

In [7]:
# trim= {1:"1T", 2:"1T", 3:"1T", 4:"2T", 5:"2T", 6:"2T", 7:"3T", 8:"3T", 9:"3T", 10:"4T", 11:"4T", 12:"4T"}
# RP["indice_tiempo"] = pd.to_datetime(RP["indice_tiempo"])
# mes = RP["indice_tiempo"].dt.month
# RP["trim"]= mes.apply(lambda x: trim[x])
# RP["trim_anio"]= RP["indice_tiempo"].dt.year.astype(str) + "-" + RP["trim"].astype(str)
# del RP["trim"]

RP["anio_trim"]= RP.index.year.astype(str) + "-" +RP.index.quarter.astype(str)
RP

               resultado_primario anio_trim
indice_tiempo
2016-01-01             740.700000    2016-1
2016-02-01          -16642.410000    2016-1
2016-03-01          -30012.100000    2016-1
2016-04-01          -10893.460000    2016-2
2016-05-01          -11974.200000    2016-2
2016-06-01          -44008.000000    2016-2
2016-07-01          -24366.300000    2016-3
2016-08-01          -35415.504682    2016-3
2016-09-01          -37017.300000    2016-3
2016-10-01          -61868.300000    2016-4
2016-11-01          -13299.749602    2016-4
2016-12-01          -58768.900000    2016-4
2017-01-01            3587.200000    2017-1
2017-02-01          -26746.800000    2017-1
2017-03-01          -18184.200000    2017-1
2017-04-01          -18663.600000    2017-2
2017-05-01          -27239.400000    2017-2
2017-06-01          -57038.800000    2017-2
2017-07-01          -22089.600000    2017-3
2017-08-01          -24650.600000    2017-3
2017-09-01          -31353.100000    2017-3
2017-10-01          -32494.800000    2017-4
2017-11-01          -29661.500000    2017-4
2017-12-01         -119607.100000    2017-4
2018-01-01            3928.600000    2018-1
2018-02-01          -20227.600000    2018-1
2018-03-01          -14701.900000    2018-1
2018-04-01          -10342.400000    2018-2
2018-05-01           -7817.800000    2018-2
2018-06-01          -56663.600000    2018-2
2018-07-01          -14279.600000    2018-3
2018-08-01          -10356.400000    2018-3
2018-09-01          -22854.300000    2018-3
2018-10-01          -16585.900000    2018-4
2018-11-01          -33770.200000    2018-4
2018-12-01         -135316.200000    2018-4
2019-01-01           16657.600000    2019-1
2019-02-01            6726.400000    2019-1
2019-03-01          -13037.000000    2019-1
2019-04-01             498.500000    2019-2
2019-05-01           25973.800000    2019-2
2019-06-01           -6598.200000    2019-2
2019-07-01            4292.800000    2019-3

In [8]:
#plt.plot(RP.anio_trim, RP.resultado_primario, title="Resultado Primario - por trimestre")
#plt.xlabel("trimestre")
#plt.ylabel("resultado primario")