In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
rp_trim= pd.read_csv("https://apis.datos.gob.ar/series/api/series/?ids=452.3_RESULTADO_RIO_0_M_18_54&collapse=quarter&collapse_aggregation=sum&limit=5000&format=csv")
rp_trim.indice_tiempo= pd.to_datetime(rp_trim["indice_tiempo"])
rp_trim= rp_trim.set_index(["indice_tiempo"])
rp_trim["resultado_primario"]= rp_trim["resultado_primario"]*3
rp_trim

               resultado_primario
indice_tiempo
2016-01-01         -137741.430000
2016-04-01         -200626.980000
2016-07-01         -290397.314046
2016-10-01         -401810.848806
2017-01-01         -124031.400000
2017-04-01         -308825.400000
2017-07-01         -234279.900000
2017-10-01         -545290.200000
2018-01-01          -93002.700000
2018-04-01         -224471.400000
2018-07-01         -142470.900000
2018-10-01         -557016.900000
2019-01-01           31041.000000
2019-04-01           59622.300000

In [2]:
pbi=pd.read_csv("https://apis.datos.gob.ar/series/api/series/?ids=9.2_PPC_2004_T_22&limit=5000&format=csv")
pbi[:5]

  indice_tiempo  pib_precios_corrientes
0    2004-01-01           439195.865000
1    2004-04-01           509498.663247
2    2004-07-01           488462.382591
3    2004-10-01           503303.868061
4    2005-01-01           510703.427015

In [3]:
it_tributarios= pd.read_csv("https://apis.datos.gob.ar/series/api/series/?ids=452.2_IVA_NETO_RROS_0_T_19_67,452.2_GANANCIASIAS_0_T_9_51,452.2_APORTES_COIAL_0_T_39_29,452.2_DEBITOS_CRTOS_0_T_16_22,452.2_BIENES_PERLES_0_T_17_26,452.2_IMPUESTOS_NOS_0_T_18_87,452.2_COMBUSTIBLLES_0_T_12_97,452.2_DERECHOS_EION_0_T_20_42,452.2_DERECHOS_IION_0_T_20_60,452.2_RESTO_TRIBIOS_0_T_17_0&limit=5000&format=csv")
it_rentas= pd.read_csv("https://apis.datos.gob.ar/series/api/series/?ids=452.2_FGS_COBRADERO_0_T_53_90,452.2_RESTO_RENTDAD_0_T_22_24&limit=5000&format=csv")
it_otros= pd.read_csv("https://apis.datos.gob.ar/series/api/series/?ids=452.2_INGRESOS_NIOS_0_T_23_2,452.2_TRANSFERENTES_0_T_25_22,452.2_RESTO_INGRTES_0_T_25_96&limit=5000&format=csv")
it_capital= pd.read_csv("https://apis.datos.gob.ar/series/api/series/?ids=452.2_INGRESOS_CTAL_0_T_16_75&limit=5000&format=csv")

it_tributarios.indice_tiempo= pd.to_datetime(it_tributarios.indice_tiempo)
it_rentas.indice_tiempo= pd.to_datetime(it_rentas.indice_tiempo)
it_otros.indice_tiempo= pd.to_datetime(it_otros.indice_tiempo)
it_capital.indice_tiempo= pd.to_datetime(it_capital.indice_tiempo)

it_tributarios= it_tributarios.set_index("indice_tiempo")
it_rentas= it_rentas.set_index("indice_tiempo")
it_otros= it_otros.set_index("indice_tiempo")
it_capital= it_capital.set_index("indice_tiempo")

In [4]:
it_tributarios.T.sum().head()

indice_tiempo
2016-01-01    116331.30
2016-02-01     95841.19
2016-03-01     99733.30
2016-04-01    112004.70
2016-05-01    129132.60
dtype: float64

In [6]:

# creamos un dataframe para Ingresos Totales
pbi_patentamientos = pd.DataFrame({
    "tributarios": it_tributarios.T.sum().head(), 
    "rentas": it_rentas.T.sum().head(),
    "otros": it_otros.T.sum().head(),
    "capital": it_capital.T.sum().head()
})

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
RP= pd.read_csv("https://apis.datos.gob.ar/series/api/series/?ids=452.3_RESULTADO_RIO_0_M_18_54&limit=5000&format=csv")
RP["indice_tiempo"] = pd.to_datetime(RP["indice_tiempo"])
RP=RP.set_index("indice_tiempo")
RP.head()

               resultado_primario
indice_tiempo
2016-01-01                 740.70
2016-02-01              -16642.41
2016-03-01              -30012.10
2016-04-01              -10893.46
2016-05-01              -11974.20

In [8]:
# trim= {1:"1T", 2:"1T", 3:"1T", 4:"2T", 5:"2T", 6:"2T", 7:"3T", 8:"3T", 9:"3T", 10:"4T", 11:"4T", 12:"4T"}
# RP["indice_tiempo"] = pd.to_datetime(RP["indice_tiempo"])
# mes = RP["indice_tiempo"].dt.month
# RP["trim"]= mes.apply(lambda x: trim[x])
# RP["trim_anio"]= RP["indice_tiempo"].dt.year.astype(str) + "-" + RP["trim"].astype(str)
# del RP["trim"]

RP["anio_trim"]= RP.index.year.astype(str) + "-" +RP.index.quarter.astype(str)
RP

               resultado_primario anio_trim
indice_tiempo
2016-01-01             740.700000    2016-1
2016-02-01          -16642.410000    2016-1
2016-03-01          -30012.100000    2016-1
2016-04-01          -10893.460000    2016-2
2016-05-01          -11974.200000    2016-2
2016-06-01          -44008.000000    2016-2
2016-07-01          -24366.300000    2016-3
2016-08-01          -35415.504682    2016-3
2016-09-01          -37017.300000    2016-3
2016-10-01          -61868.300000    2016-4
2016-11-01          -13299.749602    2016-4
2016-12-01          -58768.900000    2016-4
2017-01-01            3587.200000    2017-1
2017-02-01          -26746.800000    2017-1
2017-03-01          -18184.200000    2017-1
2017-04-01          -18663.600000    2017-2
2017-05-01          -27239.400000    2017-2
2017-06-01          -57038.800000    2017-2
2017-07-01          -22089.600000    2017-3
2017-08-01          -24650.600000    2017-3
2017-09-01          -31353.100000    2017-3
2017-10-01          -32494.800000    2017-4
2017-11-01          -29661.500000    2017-4
2017-12-01         -119607.100000    2017-4
2018-01-01            3928.600000    2018-1
2018-02-01          -20227.600000    2018-1
2018-03-01          -14701.900000    2018-1
2018-04-01          -10342.400000    2018-2
2018-05-01           -7817.800000    2018-2
2018-06-01          -56663.600000    2018-2
2018-07-01          -14279.600000    2018-3
2018-08-01          -10356.400000    2018-3
2018-09-01          -22854.300000    2018-3
2018-10-01          -16585.900000    2018-4
2018-11-01          -33770.200000    2018-4
2018-12-01         -135316.200000    2018-4
2019-01-01           16657.600000    2019-1
2019-02-01            6726.400000    2019-1
2019-03-01          -13037.000000    2019-1
2019-04-01             498.500000    2019-2
2019-05-01           25973.800000    2019-2
2019-06-01           -6598.200000    2019-2
2019-07-01            4292.800000    2019-3

In [10]:
#plt.plot(RP.anio_trim, RP.resultado_primario, title="Resultado Primario - por trimestre")
#plt.xlabel("trimestre")
#plt.ylabel("resultado primario")